.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920___1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#seccion1{
    
    width: 2087px;
    height: 1027px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
.Rect_ngulo_1 {
    position: absolute;
    overflow: visible;
    width: 2087px;
    height: 306px;
    left: 0px;
    top: 721px;
}
#Imagen1 {
    position: absolute;
    width: 559px;
    height: 140px;
    left: 797px;
    top: 741px;
    overflow: visible;
}
#Imagen2 {
    position: absolute;
    width: 136.5px;
    height: 141px;
    left: 907px;
    top: 872px;
    overflow: visible;
}
#Imagen3 {
    position: absolute;
    width: 140px;
    height: 139px;
    left: 1072px;
    top: 874px;
    overflow: visible;
}
#Imagen4 {
    position: absolute;
    width: 1341.5px;
    height: 806px;
    left: 373px;
    top: -85px;
    overflow: visible;
}

#contenido{

   float: left;
}
#Imagen5 {
    opacity: 0.6;
    position: absolute;
    width: 137px;
    height: 176.5px;
    left: 1875px;
    top: 786px;
    overflow: visible;
}
#Imagen5:hover{
    background-color: brown;
}


.nav-tabs{

   
    width: 50%;
    background-color: black;
}


.card{

    float: left;
    margin-left: 300px;
    padding: 10px;
    background-color: black;
    color: white;
}